@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Want to see some Products?</h2>
        <ul>
            <li>Click here to go to the <a href="/Product">Product Page</a></li>
        </ul>
    </div>
</div>
