@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ProductWeb.Models.Product>

<h2>Hello from the Product's index Page</h2>
@foreach (ProductWeb.Models.Product product in Model)
{
<div>
    <div>Product</div>
    <div>ID:@product.ProductId</div>
    <div>Title:@product.Title</div>
    <div>Description:@product.Description</div>
    <div>Price:@product.Price</div>
    <div>Cost:@product.Cost</div>
    <br />
</div>
}
